<%= render "shared/header" %>

  <%#コメント記入欄%>
    <%= form_with model: @comment, url:comments_path,local: true do |f| %>
      <div class='comment-messages'>
        <h1 class='comment1'>
          <%= f.text_area :board, placeholder: "コメントする", class:"board-text", id:"board-text" %>
        </h1>

        <div class="board_button">
          <%= f.submit "送信" ,class:"board-btn" %>      
        </div>
        
      </div>
    <%end%>

  <%#コメント表示欄%>
    
  

<div class="comment-show">
  <div class="comment-title">
        ＜コメント一覧＞<br>
        ----------------------------------------
  </div>
  
<table class="show-table">
  <thead>
    <tr>
      <th>コメント</th>
      <th>日時</th>
      <!-- 必要な列を追加 -->
    </tr>
  </thead>
  
  
  <tbody>    
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.board %></td>
        <td><%= comment.created_at %></td>
    <% end %>
  </tbody>
  

</table>
</div>