<%= render "shared/header_comment" %>

<div class="comment-2222">

  <div class='show-main2'>

    
    <table class='check-show-table'>
      <thead>
        <tr>
          <th>出席番号</th>
          <th>出席確認</th>
          <th>登校時間</th>
          <th>編集</th>
          <th>削除</th>
          
        </tr>
      </thead>
      <tbody>
        <% @checks.each do |check| %>
          <tr>
            <td><%= check.number.name %></td>
            <td style="<%= 
              if check.attendance.name == '出席'
                'background-color: #00FF00;' 
              elsif check.attendance.name == '欠席'
                'background-color: rgb(235, 163, 135);'
              elsif check.attendance.name == '遅刻'
                'background-color: skyblue;'
              else
                ''
              end
            %>"> <%= check.attendance.name %></td>
            <td><%= check.created_at.localtime.strftime("%H:%M") %></td>
            <td><%= link_to '編集', edit_check_path(check.id), id:"edit-button" %></td>
            <td><%= link_to '削除', check_path(check.id), data: { turbo_method: :delete } %></td>

            

          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="count">
      <div class="number-count">
        <p>登録済み：<%= @check_count %>人</p>
      </div>
      <div class="attendance-count">
        <p class="count1">出席：<%= @attendance_count1 %>人</p>
        <p class="count2">欠席：<%= @attendance_count2 %>人</p>
        <p class="count3">遅刻：<%= @attendance_count3 %>人</p>
      </div>
    </div>



    

  </div>

  <div class="comment-main">
    <div class="comment-new">
      <%#コメント記入欄%>
      <%= render partial: "form", locals: { comment: @comment } %>
      <%# 終わり %>
    </div>
    

    <div class="comment-show">
      <h2 class="comment3">
          ＜コメント一覧＞
      </h2>

      <table class="comment-table">
        <thead>
          <tr>
            <th class="th1">コメント</th>
            <th>日時</th>
            <th>編集</th>
            <th>削除</th>
            <!-- 必要な列を追加 -->
          </tr>
        </thead>
        <tbody>    
          <% @comments.each do |comment| %>
            <tr>
              <td><%= comment.board %></td>
              <td><%= comment.created_at.localtime.strftime("%H:%M") %></td>
              <td><%= link_to '編集', edit_comment_path(comment.id),class:"edit-contents" %></td>
              <td> <%= link_to '削除', comment_path(comment.id), data: { turbo_method: :delete } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
