<%= render "shared/header_comment" %>

  <%#コメント記入欄%>
    <%= render partial: "form", locals: { comment: @comment } %>
  <%# 終わり %>
    
  

<div class="comment-show">
  <div class="comment-title">
        ＜コメント一覧＞<br>
        ----------------------------------------
  </div>
  
<table class="show-table">
  <thead>
    <tr>
      <th>コメント</th>
      <th>日時</th>
      <!-- 必要な列を追加 -->
    </tr>
  </thead>
  
  
  <tbody>    
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.board %></td>
        <td><%= comment.created_at %></td>
        <td><%= link_to '編集', edit_comment_path(comment.id) %></td>
        <td> <%= link_to '削除', comment_path(comment.id), data: { turbo_method: :delete } %></td>
    <% end %>
  </tbody>
  

</table>
</div>