<%= render "shared/header_verify"%>


<div class="contents_row">
  <div class="container">
    <div class="login-name">
      <パスワード確認>
    </div>
    <%= form_with url: check_password_path, local: true do |form| %>
      <div class="field7">
        <%= form.label :password, "確認のためパスワードを入力してください" %><br>
        <%= form.password_field :password %>
      </div>
    <div class="actions7">
      <%= form.submit "確認", class:"actions8" %>
    </div>
    <% end %> 
  </div>
</div>