<header class='check-top-page'>
 
  <div class="header-left">
    <div class='easy-bar-content'>
      <%= link_to image_tag("school.png", class:"school-icon",id:"school"),checks_path %>
    </div>

    <div class="grade-class1">
      <% if user_signed_in? %>
        <p>クラス : <%= current_user.grade_id %>年 <%= current_user.class_id %>組</p>
        <p> <%= current_user.name %>先生</p>
      <% end %>
    </div>
  </div>


  <div class='date-contents'>
    <p>今日は <%= l Date.today, format: "%-m月%-d日(%a)" %>です。</p>
    <p>現在時刻</p>
    <p class='clock' id="Clock"></p></p>
  </div>

  <div class='nav'>
    <ul class='list-nav'>
      <li>  <%=# 使用時は、雛形をコピーするため、個人アカウントのスプレットシートへの遷移URLにする。%>
        <%= link_to "宿題チェックシートへ",  "https://docs.google.com/spreadsheets/d/17Wv6C9jD6lCkS3kVJUvTyZZ7XF2pc5TAvTGjyli6g84/edit?usp=sharing", target: :_blank, rel: "noopener noreferrer",class:"child-content",id:"sign-in1" %>
      </li>
      <li>
        <%= link_to "出欠一覧へ🥬", check_path(@checks),class:"child-content",id:"sign-in2" %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path,class:"child-content",id:"sign-in3" %>
      </li>
    </ul>
  </div>
 
</header>


