<header class='check-top-page'>
 
  <div class='easy-bar-content'>
    <%= link_to image_tag("school.png", class:"school-icon"),"/" %>
  </div>

  <div class='date-contents'>
    日付
  </div>

  <div class='nav'>
    <ul class='list-nav'>
      <li class='sensei'>
        <%= link_to image_tag("sensei-penguin.png", class:"sensei-icon") %>
        <%= link_to "先生のページへ", class:"sensei-content" %>
      </li>

      <li class='child'>
        <%= link_to image_tag("child-penguin.png", class:"child-icon") %>
        <%= link_to "みんなのページへ", class:"child-content" %>
      </li>
    </ul>
  </div>
 
</header>


