<%= render "shared/header_top" %>

<div class="contents_row">
  <div class="container">
    <div class="login-name">
      ログイン
    </div>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :ID %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", class:"login-button" %>
      </div>

      <div class="sinki">
      <%= link_to "アカウントを作成する", new_user_registration_path,class:"sinki-button" %>
      </div>
    <% end %>
  </div>
</div>