<%= render "shared/header" %>
<div class='new-main'>
  <%# 欠席フォーム %>
  
    <%= form_with model: @check, url:checks_path,local: true do |f| %>
      
      <div class='new-messages'>
        <h1 class='message1'>
          わたしは、<br><br>
          (<%= f.text_area :number, class:"check-number", id:"check-number", placeholder:"番号" %>
          番さんは、)<br><br>
         
          <%= f.text_area :attendance, value: @default_text, readonly: true, class:"check-attendance", id:"check-attendance", placeholder:"欠席" %>
        </h1>

        <div class="check_button">
          <%= f.submit "更新ボタン" ,class:"check-btn" %>      
        </div>
        
      </div>

    <%end%>
  
</div>