<%= render "shared/header_top2" %>


<div class='show-main'>
  
    
   
  <div class='show-comment'>
    <div class="teacher-comment">
      ＜先生からのお知らせ＞
    </div>
    
      <% @comments.each do |comment| %>
        <p class="comment22"><%= comment.board %></p>
      <% end %>
    
  </div>
  

  <div class="check20">
    <table class='check-show-table2'>
      <thead>
        <tr>
          <th>出席番号</th>
          <th>出席確認</th>
          <th>登校時間</th>
        </tr>
      </thead>
      <tbody>
        <% @checks.each do |check| %>
          <tr>
            <td ><%= check.number.name %></td>
            <td style="<%= 
              if check.attendance.name == '出席'
                'background-color: #00FF00;' 
              elsif check.attendance.name == '欠席'
                'background-color: rgb(235, 163, 135);'
              elsif check.attendance.name == '遅刻'
                'background-color: skyblue;'
              else
                ''
              end
            %>"> <%= check.attendance.name %></td>
            

            <td><%= check.created_at.localtime.strftime("%H:%M") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="count">
      <div class="number-count">
        <p>登録済み：<%= @check_count %>人</p>
      </div>
      <div class="attendance-count">
        <p class="count1">出席：<%= @attendance_count1 %>人</p>
        <p class="count2">欠席：<%= @attendance_count2 %>人</p>
        <p class="count3">遅刻：<%= @attendance_count3 %>人</p>
      </div>
    </div>
  </div>
   
   

  

</div>